@page
@model GeoLocation.Pages.ShowExcelModel


<style>
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: darkolivegreen;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 10px;
        padding: 2px;
        width: 20px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 3px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

    .border333 {
        border-radius: 3px;
        background-color: #f44336;
        color: white;
    }

    .border3 {
        border-radius: 3px;
        background-color: white;
        color: black;
        border: 2px solid #f44336;
    }

    .btnGeoLocation {
        background-color: #4CAF50;
        border: none;
        color: #FFFFFF;
        padding: 10px 25px;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin: 16px 0 !important;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
    }
</style>


@{



    <table class="table table-hover" quick-grid>
        <thead>
            <tr style="width:50px!important">
                <form method="post">
                <td>
                    <input type="submit" formmethod="post" asp-route-filename="@ViewData["Sended_File"]" asp-page-handler="GetLocations" id="btnGeoLocation" value="Get GeoLocation" class="btnGeoLocation border3 border333" />
                    <input type="submit" formmethod="post" asp-route-filename="@ViewData["Sended_File"]" asp-page-handler="CancelExcelFileProcessed" id="btnCancelRequestGeoLocation" value="Cancel GeoLocation Process" class="btnGeoLocation border3 border333" />
                 
                </td>
                </form>
                <form method="post">
                <td>
                    <div style="display:inline-flex">
                        <input type="submit" value="<<" class="button" title="First" formmethod="get" asp-page-handler="FirstData">

                        <input type="submit" value="<" class="button" title="Previous" asp-route-current="@Model.Current" asp-page-handler="PreviousData">

                        <span name="current" data-current="@Model.Current">@Model.Current</span>

                        <input type="submit" value=">" class="button" title="Next" asp-route-current="@Model.Current" asp-page-handler="NextData">

                        <input type="submit" value=">>" class="button" title="End" asp-route-current="@Model.Current" asp-page-handler="EndData">

                            </div>
                </td>
                </form>
            </tr>
            <tr>
                <th class="col-sm-1" quick-sort="State">         State      </th>
                <th class="col-lg-2" quick-sort="Area">          Area     </th>
                <th class="col-lg-2" quick-sort="SchoolName">    SchoolName     </th>
                <th class="col-lg-3" quick-sort="LevelStudy">    LevelStudy    </th>
                <th class="col-lg-5" quick-sort="Gender ">       Gender      </th>
                <th class="col-lg-2" quick-sort="SchoolType">    SchoolType     </th>
                <th class="col-lg-2" quick-sort="Type ">         Type      </th>
                <th class="col-lg-2" quick-sort="Character ">    Character      </th>
                <th class="col-lg-2" quick-sort="Phone ">        Phone      </th>
                <th class="col-lg-2" quick-sort="Postalcode">
                    <form method="post">
                        <div class="d-sm-inline-flex">

                            <button type="submit" class="btn" asp-route-Sort="asc" asp-route-data="@Model.Current" asp-page-handler="SortData">
                                <svg onclick="" src="/css/sort-down-alt.svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                                    <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z" />
                                </svg>
                            </button>
                            <span style="vertical-align:middle;text-align:center;padding:.475rem .02rem"> Postalcode</span>
                            <button type="submit" class="btn" asp-route-Sort="desc" asp-route-data="@Model.Current" asp-page-handler="SortData">
                                <svg src="/css/sort-up.svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg>
                            </button>

                        </div>
                    </form>
                </th>
                <th class="col-lg-2" quick-sort="Address ">      Address      </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.GridData != null && Model.GridData.Count > 0)
                @foreach (var item in Model.GridData)
                {
                    <tr class="">
                        <td>@item.State 	   </td>
                        <td>@item.Area         </td>
                        <td>@item.SchoolName   </td>
                        <td>@item.LevelStudy   </td>
                        <td>@item.Gender       </td>
                        <td>@item.SchoolType   </td>
                        <td>@item.Type         </td>
                        <td>@item.Character    </td>
                        <td>@item.Phone        </td>
                        <td>@item.Postalcode   </td>
                        <td>@item.Address      </td>
                    </tr>
                }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center" quick-paging></td>
            </tr>
        </tfoot>
    </table>


}
